nav {
  .nav-links {
    list-style: none;
    margin-left: 20px;
    .nav-link {
      padding: 10px 0;

      i {
        color: white;
        font-size: 20px;
      }

      a {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-gap: 20px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        strong {
          padding: 5px 0;
        }
      }
    }
  }
}
