.page-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 600px;
    border-right: 1px solid #3A444C;
    border-left: 1px solid #3A444C;

    h1{
        color: #ffffff;
        font-size: 16px;
    }

    i{
        color: #4BA0EC;
    }
}

.page-bottom{
    padding: 20px;
    width: 600px;
    border-right: 1px solid #3A444C;
    border-left: 1px solid #3A444C;
}