<nav>
  <ul class="nav-links">
    <li class="nav-brand nav-link">
      <a routerLink="/"><i class="fab fa-twitter twit-icon"></i></a>
    </li>
    <li class="nav-link">
      <a routerLink="/">
        <i class="fas fa-home"></i>
        <strong>Home</strong></a>
    </li>
      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="fas fa-hashtag"></i>
          <strong>Explore</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="far fa-bell"></i>
          <strong>Notifications</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="far fa-envelope"></i>
          <strong>Messages</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="far fa-bookmark"></i>
          <strong>Booksmarks</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="far fa-list-alt"></i>
          <strong>Lists</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="far fa-user"></i>
          <strong>Profile</strong></a>
      </li>

      <li class="nav-link">
        <a routerLink="/tweet">
          <i class="fas fa-ellipsis-h"></i>
          <strong>More</strong></a>
      </li>
  </ul>

  <button class="btn-lg btn-nav">Tweet</button>
</nav>
