nav{
    padding: 0 30px;
    .nav-links{
        list-style: none;
        margin-left: 20px;
        .nav-link {
            padding: 18px 0;
            
            i{
                color: white;
                font-size: 25px;
            }

            a {
            display: grid;
            grid-template-columns: 1fr 10fr;
            grid-gap: 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 17px;
            strong{
                padding: 5px 0;
            }
    
            }
          }
    }

}
