<div class="hash-card">
    <div class="category">
        <p>Trending in Country</p>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="title">
        <h5>#Hashtag</h5>
    </div>
    <div class="tweet">
        <p>13.3K Tweets</p>
    </div>
</div>
<div class="line"></div>

<div class="hash-card-two">
    <div class="title">
        <h5>#Hashtag</h5>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="content">
        <p>Lorem ipsum is simply dummy text of the prnting
            and typesetting industry. </p>
    </div>
    <div class="tweet">
        <p>13.3K Tweets</p>
    </div>
</div>
<div class="line"></div>

<div class="hash-card">
    <div class="category">
        <p>Trending in Country</p>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="title">
        <h5>#Hashtag</h5>
    </div>
    <div class="tweet">
        <p>13.3K Tweets</p>
    </div>
</div>
<div class="line"></div>

<div class="hash-card">
    <div class="category">
        <p>Trending in Country</p>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="title">
        <h5>#Hashtag</h5>
    </div>
    <div class="tweet">
        <p>13.3K Tweets</p>
    </div>
</div>
<div class="line"></div>
