.hash-card {
  margin: 10px 0;
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8a98a4;
    font-size: 14px;
  }

  .title {
    padding: 5px 0;
    color: #ffffff;
  }

  .tweet {
    color: #8a98a4;
  }
}

.hash-card-two {
  margin: 10px 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  .content {
    padding: 5px 0;
    color: #8a98a4;
    font-size: 14px;
  }

  .tweet {
    color: #8a98a4;
  }
}
