.tweet-card {
    width: 600px;
    h1 {
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 16px;
        margin-right: 5px;
    }
    p{
        font-size: 16px;
        color: #ffffff;
    }

    
    .card-header{
        display: flex;
        h5{
            color: #8A98A4;
        }
    }

  }
  
  .card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

       i{
           font-size: 13px;
       }
  }