.sidebar-card{
    width: 350px;
    border-radius: 15px;
    background-color: #1C2733;

    .card-header{
        padding: 15px 15px 0 15px;
        h4{
            color: #ffffff;
            letter-spacing: 1.1px;
        }
    }

    .text-button{
        font-size: 13px;
    }
}