<div class="page-top">
  <h1>Comments</h1>
  <p><i class="far fa-star"></i></p>
</div>
<div class="card tweet-card">
  <div class="card-header">
    <h1 class="tweet-title">{{ tweet.title | titlecase }}</h1>
    <h5 class="tweet-nick">@Name</h5>
  </div>
  <p class="tweet-text">{{ tweet.text }}</p>
  <div class="line"></div>
  <div class="card-info">
    <p>
      <strong>{{ tweet.retweets }}</strong> Retweets
    </p>
    <p>
      <strong>{{ tweet.likes }}</strong> Likes
    </p>
  </div>
  <div class="line"></div>
</div>

<div>
   <app-comment-list
    *ngFor="let coment of comment"
    [coment]="coment"
  ></app-comment-list>
</div>
<div class="page-bottom"></div>
