<div class="tweet-card" *ngFor="let tweet of tweets">
  <div class="card-header">
    <h1>{{ tweet.title | titlecase }}</h1>
    <h5> @Name</h5>
  </div>
  <p>{{ tweet.text }}</p>
  <div class="card-actions">
    <button class="btn-action">
      <i class="far fa-comment"></i>
      Comments
    </button>
    
    <button class="btn-action" (click)="onRetweet(tweet.id)">
      <i class="fas fa-retweet"></i>
      {{ tweet.retweets }}
    </button>

    <button class="btn-action" (click)="onLike(tweet.id)">
      <i class="far fa-heart"></i>
      {{ tweet.likes }}
    </button>


    <button class="btn-action">
      <i class="fas fa-info-circle"></i>
      Tweet Details
    </button>

  </div>
</div>
